<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd"> 
	<system>
		<tab id="autosearch" translate="label" sortOrder="30">
			<label>Auto Search</label>
		</tab>
		<section id="autosearch" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Auto Search</label>
			<tab>autosearch</tab>
			<resource>MageDev_AutoSearch::config</resource>
			<group id="general" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General Settings</label>
				<field id="show" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Module</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="limit" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Number of Results Product Search</label>
				</field>
				<field id="search_delay" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Search Delay]]></label>
                    <validate>validate-zero-or-greater integer</validate>
                </field>
				<field id="show_sku" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Show SKU</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="show_price" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Show Price</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="show_image" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Show Image</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="show_short_description" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Show Short Description</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="short_max_char" translate="label comment" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Description Character Limit</label>
					<comment><![CDATA[Empty to show all short description]]></comment>
					<depends><field id="show_short_description">1</field></depends>
				</field>
			</group>
			<group id="search_terms" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Keyword Terms</label>
				<field id="enable_search_term" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled Keyword Terms</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="enable_ajax_search_term" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enabled Keyword Suggestion</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="limit_term" translate="label comment" type="text" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Limit Terms</label>
				</field>
			</group>
		</section>
	</system>
</config>